<div class="col-xs-9">
  <h2>User followers</h2>
  <table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>follows</th>
      <th>followers</th>
      <th colspan="5"></th>
	</tr>
    </thead>
    <tbody>
	<% @followers.each do |user| %>
	<tr>
    <td><%= attachment_image_tag(user, :profile_image, size:'100x100', fallback: "no-image-mini.jpg") %></td>
    
    <td><%= user.name %></td>

    <td><%= user.followings.count %></td>

    <td><%= user.followers.count %></td>

	</tr>
	<% end %>
    </tbody>
  </table>
  </div>
  </div>
</div> 
