<div class="box">
<title>Bookers2</title>

 <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-4">
    <div class="top-text">
  <h1>Welcome to<span class='fas fa-book'></span><strong>Bookers!</strong></h1>
  </div>
  </div>

</div>